.ant-pagination {
  background-color: transparent;
}

.ant-pagination .ant-pagination-item {
  margin-inline-end: 2px;
}

.ant-pagination .ant-pagination-item-active {
  border-radius: 9999px;
  border: none;
}

.ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-item a,
.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link,
.ant-pagination .ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
  color: rgb(124, 122, 122);
}

.ant-pagination .ant-pagination-item-active:hover a,
.ant-pagination .ant-pagination-item-active a,
.ant-pagination .ant-pagination-next:hover .ant-pagination-item-link {
  color: white;
}

.ant-input.outlined,
.ant-input-outlined.outlined,
.ant-input-outlined.outlined:hover,
.ant-input-outlined.outlined:focus-within {
  border: 1px solid #ff7506;
  padding: 0px 14px;
  height: 40px;
  background-color: transparent;
  color: white;
}

.ant-pagination .ant-pagination-options {
  display: none;
}
