.input.error {
  border: 1px solid red;
}

.input:focus,
.input__password:focus,
.input:focus-within,
.input__password:focus-within {
  border: 1px solid #ff7506;
  background-color: #2b2b3f;
}

.input:hover,
.input__password:hover {
  border: 1px solid #ff7506;
  background-color: #2b2b3f;
}

.form__title {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.2%;
  font-weight: 700;
  width: fit-content;
  margin: 0 auto;
}

.label {
  display: block;
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: white;
  padding: 8px 0;
}

.input ~ .label {
  margin-top: 10px;
}

.input__password {
  font-size: 25px;
}

.remember-password {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.remember-password__label {
  margin: 0 6px;
}

.button {
  background-color: #ff7506;
  color: white;
  font-size: 18px;
  line-height: 1.5rem;
  padding: 12px;
  margin: 16px 24px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.button:hover > span,
.button:focus-within > span,
.button:active > span {
  color: white;
  opacity: 70%;
}

.link {
  color: #ff7506;
  text-decoration: underline;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
/* 
    w-[471px] pl-4 pr-6 pt-[11px] pb-[13px] text-white bg-[#2B2B3F] focus:bg-transparent focus:border-[#FF7506] hover:bg-transparent hover:border-[#FF7506] rounded-lg
*/
