.title__hidden,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-header,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-content {
  background-color: #3e3e5b;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-close {
  display: none;
}
