@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1e1e2e;
}
/* =============================================================================== */
/* Input */
/* =============================================================================== */
:where(.css-dev-only-do-not-override-1y3z18n).ant-input,
.ant-input-outlined,
.ant-input-outlined:hover,
.ant-input-outlined:focus-within,
.ant-input-outlined.ant-input-disabled,
.ant-input-outlined[disabled],
.ant-input-outlined:hover,
.ant-input-outlined:focus-within {
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 13px;
  color: white;
  background-color: #2b2b3f;
  border: none;
  border-radius: 8px;
  height: 48px;
  padding: 11px 14px 13px;
  font-size: 1rem;
  line-height: 1.5rem;
}

textarea.ant-input.ant-input-outlined:hover,
textarea.ant-input.ant-input-outlined:focus-within,
textarea.ant-input.ant-input-outlined:focus {
  height: unset;
}

.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled),
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover,
.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled):hover,
.ant-select-outlined.ant-select-status-error:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4d4f;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-input-affix-wrapper > input.ant-input {
  font-size: 1rem;
}

input[type='password'].ant-input {
  font-family: Verdana;
  letter-spacing: 0.125em;
  font-size: 1.25rem;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-input-outlined.ant-input-disabled,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-input-outlined[disabled] {
  background-color: #3e3e50;
  color: #878890;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-input-affix-wrapper
  .anticon.ant-input-password-icon,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-input-affix-wrapper:hover
  .anticon.ant-input-password-icon {
  color: #ff7506;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.5rem;
}

textarea.ant-input,
textarea.ant-input:hover,
textarea.ant-input:focus-within {
  border: 1px solid #727288;
}

textarea.ant-input::placeholder {
  color: #727288;
}

/* =============================================================================== */
/* Button */
/* =============================================================================== */
:where(.css-dev-only-do-not-override-1qhpsh8).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: white;
  border-color: white;
}

.button {
  background-color: #ff7506;
  color: white;
  font-size: 18px;
  line-height: 1.5rem;
  outline: none;
  border: none;
  border-radius: 8px;
}

.button.outline {
  background-color: transparent;
  color: #ff7506;
  border: 1px solid #ff7506;
}

.button:hover > span,
.button:focus-within > span,
.button:active > span {
  color: white;
  opacity: 70%;
}

/* =============================================================================== */
/* Select */
/* =============================================================================== */

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  color: white;
  background-color: #1e1e2e;
  border: 1px solid #ff7506;
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector,
.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #ff7506;
}

/* =============================================================================== */
/* Select arrow */
/* =============================================================================== */

.ant-select .ant-select-arrow {
  color: #ff7506;
  padding-right: 5px;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: white;
}

.ant-select-dropdown {
  background-color: #3e3e5b;
  color: white;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector:hover {
  border: 1px solid #ff7506;
}

.ant-select-dropdown .ant-select-item-option-content,
.ant-select-dropdown,
.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: white;
  background-color: #3e3e5b;
}

/* =============================================================================== */
/* Modal */
/* =============================================================================== */

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-header,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-content {
  background-color: black;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-title {
  color: white;
  font-weight: 400;
  font-size: 24px;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-close {
  color: #ff7506;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-content button {
  color: white;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal input[type='file'] {
  color: white;
}

/* =============================================================================== */
/* Datepicker */
/* =============================================================================== */

:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-outlined,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-outlined:hover,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-outlined:focus-within {
  color: white;
  background-color: #2b2b3f;
  border: none;
  border-radius: 8px;
  height: 48px;
  padding: 11px 14px 13px;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker .ant-picker-suffix {
  color: #ff7506;
}

/* =============================================================================== */
/* Datepicker panel */
/* =============================================================================== */

:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-dropdown
  .ant-picker-panel-container
  .ant-picker-panel {
  background-color: #1e1e2e;
  color: white;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-dropdown .ant-picker-header,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-dropdown .ant-picker-header button,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-dropdown .ant-picker-cell-in-view,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-dropdown .ant-picker-cell,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-picker-dropdown .ant-picker-content th {
  color: inherit;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-card .ant-card-body {
  padding: 18px;
}

/* Form */

.ant-form-item {
  margin-bottom: 0px;
}
